.main {
  background: #bac8ff;
  min-height: 100vh;
  height: 100%;

  .header {
    background: #74c0fc;
    padding: 5px;
  }

  .content {
    background: #8ce99a;
  }

  .results {
    max-width: 1000px;
    background: #ffd43b;
    align-self: center;
    width: 100%;
    overflow: scroll;
  }
}
